<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a
            style="background-color: #F8F8FF"
            class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/nerv_logo.png') }}"
             style="max-width: 48px; background-color: #F8F8FF;"
             alt="AWESOME LOGO">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
            style="background-color: #F8F8FF"
            class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a
                        style="background-color: #F8F8FF"
                        class="nav-link" href="{{ url_for('index') }}">🏠 Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a
                        style="background-color: #F8F8FF"
                        class="nav-link" href="https://linkedin.com/in/renato-mercado-luna22" target="_blank">🔍 about</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a
                            style="background-color: #F8F8FF"
                            class="nav-link" href="{{ url_for('auth.logout') }}">🏃‍♂ Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a
                            style="background-color: #F8F8FF"
                            class="nav-link" href="{{ url_for('auth.signup') }}">✍ Signup</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>